# Ignore environment variables
.env

# Ignore parquet files
*.parquet

#pycache
__pycache__/

#colab
colab/

#venv
.venv/

#docs
docs/project_plan.md
docs/insights.md
docs/knowledge.md